/* ESTILO GERAL */

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
    background-color: #000;
    height: 100vh;
}
.interface{
    padding: 2.5rem 4% ;
   
}


/*  NAVBAR */

header{
    width: 100%;
    background-color: #212121;
    box-shadow: 0px 3px 10px #ffffff1d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4%;       
}
.logo img{
    width: 18.7rem;   
}
.menu--desktop ul{
     list-style: none;  
}
.nav--itens{
    display: inline-block;
    padding: 0rem 1.5rem;
}
.nav--link{
    text-decoration: none;
    color: #a3a1a1;
    display: inline-block;
    font-size: 1.3rem;
    position: relative;     
}
.nav--link:hover{
    color: #fff;
}
.nav--link::after{
    content: " ";
    width: 0;
    height: 0.3rem;
    background-image: linear-gradient(180deg, #278848 0%, #59A928 100%);
    position: absolute;
    top: 1.9rem;
    left: 0;
    border-radius: 3.1rem;
    transition: width 0.3s  ;
}
.nav--link:hover::after{
    width: 100%;
}
.nav--link i{
    font-size: 1.3rem;
    margin-right: 0.5rem;
}


/* MAIN */
main{
    font-family: 'Montserrat', sans-serif;
    }
    main > .interface{
    padding: 2.5rem 4% ;
    }
h2.title{
    color: #fff;
    font-size: 2rem;
    text-align: left;
    text-shadow: 3px 3px 5px #ffffff95 ;
   font-weight: 400;
   }
h2.title span{
    position: absolute;
}
h2.title span::after{
    content: " ";
    width: 6.25rem;
    height: 0.3rem;
    background-image: linear-gradient(180deg, #278848 0%, #59A928 100%);
    position: absolute;
    top: 1rem;
    left: 10px;
    border-radius: 3.1rem;
}
.row{
    padding: 2.5rem 4%;
    display: flex;
    justify-content:baseline;
    gap: 20px;
}
.row img{
    width: 150px;
    
    cursor: pointer;
    transition: .2s;
}
.row img:hover{
    transform: scale(1.06);
}


/* Footer */

footer > .interface{
    background-color: #212121;
    padding: 1.5rem 4%;
    box-shadow: 0 0 10px 3px #ffffff1d;
    font-family: 'Montserrat', sans-serif;
}
.logo--footer{
    align-items: center;
    text-align: center;
}
.logo--footer img{
    width: 18.7rem; 
}
.coders{       
    width: 100%;
    padding: 1.6rem;
    background-color: #212121;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 3.8rem;
}
.social{
    list-style: none;
    line-height: 1.6rem;
}
.social li{
    color: #fff; 
    text-align: center;        
}
.social a{
    text-decoration: none;
}
.social span{
    color: #59A928;
    font-size: 1.3rem;
}
.social i{
    padding: 0.4rem;
    color: #59A928;
    font-size: 1.3rem;    
}
.line-footer{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    padding: 0.6rem 4%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.text--small{
    font-size: .8rem
}